<div class='form-container'>
  <div class="r">
      <form action="/login" method="post">
        <div class="">
          <label for="username">Usuario</label>
          <input type="text" name="username" class="" style="padding: 0 20px; -webkit-box-shadow: inset 0 0 0px 9999px rgba(255,255,255,1) !important;">
        </div>

        <div class="">
          <label for="password">Contraseña</label>
          <input type="password" name="password" class="" style="padding: 0 20px;">
        </div>

        <button type="submit" class="deep-purple btn">Login</button>
        <p>No tienes una cuenta todavía?<a href="/signup" clas="show game-details blue-grey-text text-lighten-2"> Regístrate aquí</a></p>
      </form>
    </div>

  </div>
