<div class="form-container">
  <div class="r">
      <form action="/signup" method="post">
        <div class="">
          <label for="username">Usuario</label>
          <input type="text" name="username" class="">
        </div>
        <div class="">
          <label for="password">Contraseña</label>
          <input type="password" name="password" class="">
        </div>
        <div class="">
          <label for="email">Email</label>
          <input type="email" name="email" class="">
        </div>
        <div class="">
          <label for="city">Ciudad de residencia:</label>
          <input  type="text" name="city" class=""></input>
        </div>
        <button type="submit" class="waves-effect waves-light btn">Regístrate</button>
      </form>
  </div>
</div>
