<div class="">
    <form action="/edit/<%= evento._id %>" method="post">
      <div class="">
        <label for="name">Valoraciones del usuario:</label>
      </div>
      <div class="">
      <h4>USER</h4>
      </div>
      <div class="">
        <label for="city">Valoración:</label>
        <textarea type="text" name="comment">
      </div>
    </form>
</div>
